.task-content {
    border: solid black 1px;
}

.category-container {
    border: solid black 1px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.category-div {
    display: flex;
}

.active-category {
    background-color: #999;
}

.task-row {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.task-form-inactive {
    position: absolute;
    right: -300px;

}

.task-form-active {
    position: absolute;
    top: 25vh;
    right: 50vh;
}

.task-row-one {
    display: flex;
}