.task-container {
    border: solid black 1px;
}

.category-container {
    border: solid black 1px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.category-div {
    display: flex;
}

.active-category {
    background-color: #999;
}

.task {
    display: flex;
    justify-content: space-between;
}